black
black[jupyter]
build
bump-my-version

cartopy
click
codespell
fiona
flake8

ipykernel
livereload
mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-plugin
mkdocs-jupyter>=0.26.3
mkdocs-material>=9.1.3
mkdocs-pdf-export-plugin
mkdocstrings
mkdocstrings-crystal
mkdocstrings-python-legacy
nbconvert
nbformat
openpyxl
psutil
pygments
pymdown-extensions
pytest
pytest-cov
pytest-runner
pyvista
reuse>=6.2.0
ruff
scikit-learn
seaborn
sphinx
torch
twine
watchdog
wheel
