on:
    push:
        branches:
            - main
            - master
    pull_request:
        branches:
            - main
            - master

name: Linux build
jobs:
    test-ubuntu:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                python-version: ["3.9", "3.10", "3.11", "3.12"]

        steps:
            - uses: actions/checkout@v5

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                  version: "0.4.16"
                  #   enable-cache: true

            - name: Set up Python ${{ matrix.python-version }}
              run: uv python install ${{ matrix.python-version }}

            - name: Install dependencies
              run: |
                  uv venv --python ${{ matrix.python-version }}
                  uv pip install -e .[all]

            - name: Install optional dependencies
              run: |
                  uv pip install --find-links https://girder.github.io/large_image_wheels gdal pyproj
                  uv pip install pytest

            - name: Test import
              run: |
                  uv run python -c "import hypercoast; print('hypercoast import successful')"
                  uv run python -c "from osgeo import gdal; print('gdal import successful')"
                  uv run gdalinfo --version
